.env
node_modules
mysql/data/*
redis/data/*

/src/storage/files
/src/storage/temp
/src/.github
src/Modules/.php-cs-fixer.cache
src/Modules/*/*.php-cs-fixer.cache

# Other Laravel stuff
/src/vendor

# Editor related stuff
.idea

# Cypress
/cypress/videos
/cypress/screenshots
